fastapi
uvicorn
motor
bcrypt
pyjwt
python-multipart
python-dotenv
pydantic
pydantic-settings
email-validator
reportlab
aiofiles

# AWS S3
boto3
botocore

# Google Drive model download
gdown

# ML & Model
numpy
scipy
nibabel
pydicom
timm
captum
matplotlib

# Database & Auth
pymongo
python-jose[cryptography]
passlib[bcrypt]